WindowsFormsApp1/WindowsFormsApp1/Connected Services/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tblAlumno">
        <s:complexType />
      </s:element>
      <s:element name="tblAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tblAlumnoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agrega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_pat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_mat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nota_final" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agregaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificaralumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_pat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_mat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nota_final" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificaralumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modificaralumnoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="borralumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="borralumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="borralumnoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="tblAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:tblAlumno" />
  </wsdl:message>
  <wsdl:message name="tblAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:tblAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="agregaSoapIn">
    <wsdl:part name="parameters" element="tns:agrega" />
  </wsdl:message>
  <wsdl:message name="agregaSoapOut">
    <wsdl:part name="parameters" element="tns:agregaResponse" />
  </wsdl:message>
  <wsdl:message name="modificaralumnoSoapIn">
    <wsdl:part name="parameters" element="tns:modificaralumno" />
  </wsdl:message>
  <wsdl:message name="modificaralumnoSoapOut">
    <wsdl:part name="parameters" element="tns:modificaralumnoResponse" />
  </wsdl:message>
  <wsdl:message name="borralumnoSoapIn">
    <wsdl:part name="parameters" element="tns:borralumno" />
  </wsdl:message>
  <wsdl:message name="borralumnoSoapOut">
    <wsdl:part name="parameters" element="tns:borralumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tblAlumno">
      <wsdl:input message="tns:tblAlumnoSoapIn" />
      <wsdl:output message="tns:tblAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="agrega">
      <wsdl:input message="tns:agregaSoapIn" />
      <wsdl:output message="tns:agregaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificaralumno">
      <wsdl:input message="tns:modificaralumnoSoapIn" />
      <wsdl:output message="tns:modificaralumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="borralumno">
      <wsdl:input message="tns:borralumnoSoapIn" />
      <wsdl:output message="tns:borralumnoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tblAlumno">
      <soap:operation soapAction="http://tempuri.org/tblAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agrega">
      <soap:operation soapAction="http://tempuri.org/agrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaralumno">
      <soap:operation soapAction="http://tempuri.org/modificaralumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borralumno">
      <soap:operation soapAction="http://tempuri.org/borralumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tblAlumno">
      <soap12:operation soapAction="http://tempuri.org/tblAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agrega">
      <soap12:operation soapAction="http://tempuri.org/agrega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaralumno">
      <soap12:operation soapAction="http://tempuri.org/modificaralumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borralumno">
      <soap12:operation soapAction="http://tempuri.org/borralumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:28255/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:28255/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>